*{
    margin: 0;
    padding: 0;
    border: 0;
}
html{
    scroll-behavior: smooth;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;
}
h2{
    font-size: 60px;
    background: #eee;
    padding: 8px 25px;
}
div:nth-child(1){
    background-image: url(./images/pexels-felix-mittermeier-956999.jpg);
    background-size: cover;
}
div:nth-child(2){
    background: maroon;
}
div:nth-child(3){
    height: 400px;
    background-image: url(./images/pexels-photomix-company-96627.jpg);
    background-size: cover;
    background-attachment: fixed;
}
div:nth-child(4){
    background: aquamarine;
}